.experience {
  margin: var(--space-wgap) 0;
}

.experience header {
  display: flex;
  align-items: baseline;
  gap: var(--space-gap);
  margin: var(--space-gap) 0;
}

.experience h3 {
  margin: 0;
  text-transform: uppercase;
}

.experience p {
  margin: 0;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.stack li {
  border-radius: var(--radius);
  pointer-events: none;
  background: var(--color-background);
  font-size: 0.9em;
  padding: var(--space-padding);
}

.experience figure {
  float: right;
}

.experience figure a:hover {
  all: revert;
}

.experience figure img {
  height: 100px;
  object-fit: cover;
}